body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    width: 95%; /* Use most of the screen width */
    max-width: 900px; /* Add a max width for larger screens */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

#summaryTable {
    width: 95%; /* Use most of the screen width */
    max-width: 700px; /* Add a max width for larger screens */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border: 1px solid black;
}

#summaryTable th,
#summaryTable td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    flex-wrap: wrap; /* allow buttons to wrap */
    padding: 0 10px; /* Add some horizontal padding */
}

.date-picker-container {
    display: flex;
    align-items: center;
    margin: 5px;
}


.button-container button,
.button-container input[type="file"] {
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
     margin: 5px;
    flex: 1 1 auto;
    max-width: 200px;
}

.button-container button:hover,
.button-container input[type="file"]:hover {
    background-color: #367c39;
}

.date-picker-container button {
    padding: 8px 10px;
    font-size: 12px;
    border-radius: 5px;
    border: none;
    background-color: #2196F3;
    color: white;
    cursor: pointer;
    margin: 0 2px;
    transition: background-color 0.3s ease;

}

.date-picker-container button:hover {
    background-color: #0b7dda;
}


.date-picker-container input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 120px;
    text-align: center;
     margin: 5px;
}

#logContainer {
    text-align: center;
    margin-bottom: 10px;
    white-space: pre-line;
    width: 95%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

#tableContainer,
#summaryContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer {
    margin-top: 30px;
    text-align: center;
    font-size: 14px;
    margin-bottom: 20px;
}
