body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
     margin: 0; /* Reset default margin to ensure full width */
    padding: 0; /* Reset default padding to ensure full width */
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
     width: 95%; /* Use most of the screen width */
    margin-left: auto; /* Center the tables */
    margin-right: auto; /* Center the tables */
    margin-bottom: 20px;

}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #f2f2f2;
}
#summaryTable {
     width: 95%; /* Use most of the screen width */
    margin-left: auto; /* Center the tables */
    margin-right: auto; /* Center the tables */
     margin-bottom: 20px;
    border: 1px solid black;
}
#summaryTable th, #summaryTable td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}
.button-container {
    display: flex;
     justify-content: center; /* Center buttons horizontally */
    align-items: center;
    margin-bottom: 20px;
     width: 100%;  /* Ensure full width for the button container */
}
.date-picker-container {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.button-container button, .button-container input[type="file"]{
    padding: 15px 30px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 5px;
}
.button-container button:hover, .button-container input[type="file"]:hover {
    background-color: #367c39;
}

.date-picker-container button {
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    background-color: #2196F3;
    color: white;
    cursor: pointer;
    margin: 0 5px;
    transition: background-color 0.3s ease;
}
.date-picker-container button:hover {
    background-color: #0b7dda;
}
 .date-picker-container input[type="text"] {
            padding: 10px;
            border: 1px solid #ccc;
             border-radius: 5px;
            width: 150px;
              text-align: center;
        }

#logContainer {
    text-align: center;
    margin-bottom: 10px;
    white-space: pre-line;
    width: 95%; /* Ensure full width */
    margin-left: auto;
    margin-right: auto;
}

#tableContainer, #summaryContainer{
    width: 100%;
    display: flex;
    justify-content: center;

}
.footer {
    margin-top: 30px; /* Add some space above the footer */
    text-align: center; /* Center the text horizontally */
    font-size: 14px; /* Adjust font size as needed */
   margin-bottom: 20px;
}